body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  transition: all 1s;
}

.title {
 
  font-size: 1.2em;
}

.green {
  color: var(--green);
}

.white {
  color: var(--white);
font-size: .8em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



a {
  text-decoration: none;
}

a.active {
  color: var(--anchor-active-color);
  font-weight: var(--anchor-active-font-weight);
}

a:hover {
  color: var(--hover-color);
}

header {
align-items: center;
  display: flex;
  background-color: var(--header-background);
 justify-content: space-between;  
  padding: 1em 0;

}

.section {
  flex-grow: 1;
}

.section.logo {
  margin-left: 2.5em;
}

.logo {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  width: 500px;
  margin: 0;
  padding: 0;
}

ul li {
  flex-grow: 1;
  text-align: center;
  width: 70px;
}

ul li a {
  color: var(--anchor-color);
  font-size: .9rem;
  text-transform: uppercase;
}

header div:nth-child(1) {
  flex-grow: 8;
}

 

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media all and (max-width: 800px) {
  header {
      justify-content: space-around;
  }

  .container {
      padding: 50px;
  }
}

@media only screen and (max-width:542px) {
  header div:nth-child(1) {
      margin: 0 auto;
      display: block;
      padding-bottom: 0;
  }

  header {
      flex-direction: column;
  }

  .section {
      flex-grow: 1;
      text-align: center;
  }

  .section.logo {
      margin: 0;
  }

  ul {
      background-color: #232323;
      width: 100%;
      margin-top: 15px;
  }

  ul li {
      width: 50%;
      padding: 5px;
  }
}

.break{
  height: 25px;
  width: 25px;
  margin: 0;
}

 